[Unit]
Description=Nutone
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/neko/discord-bots/nutone/nutone.py
WorkingDirectory=/home/neko/discord-bots/nutone
Restart=always
User=root

[Install]
WantedBy=multi-user.target
